@import "tailwindcss";
@import "@nuxt/ui";

:root{
    --ui-header-height: 3rem;
}

/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src: url('~assets/fonts/Inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Italic */
@font-face {
  font-family: 'Inter';
  src: url('~assets/fonts/InterItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Open Sans Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('~assets/fonts/OpenSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Open Sans Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('~assets/fonts/OpenSansItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: 'Inter', sans-serif;
}

/**
text-xs	0.75rem (12px)
text-sm	0.875rem (14px)
text-base	1rem (16px)
text-lg	1.125rem (18px)
text-xl	1.25rem (20px)
text-2xl	1.5rem (24px)
text-3xl	1.875rem (30px)
text-4xl	2.25rem (36px)
text-5xl	3rem (48px)
text-6xl	3.75rem (60px)
text-7xl	4.5rem (72px)
text-8xl	6rem (96px)
text-9xl	8rem (128px)
*/